.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	align-items: center;
	margin: 0 auto;
	padding: 4rem 0;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		padding: 2rem 0;
	}

	.media-container {
		overflow: hidden;
		border-radius: var(--border-radius);
		aspect-ratio: 1 / 1;
		width: 100%;

		@media screen and (max-width: 768px) {
			overflow: hidden;
			border-radius: var(--border-radius);
			aspect-ratio: 2 / 1;
			width: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	.info-container {
		display: flex;
		flex-direction: column;

		a {
			width: fit-content;
		}
	}
}

.container.image-right {
	.media-container {
		order: 2;
	}

	.info-container {
		order: 1;
	}
}
