.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* padding: 4rem 0; */

	.img-container {
		position: relative;
		width: 100%;
		height: auto;

		img {
			position: relative;
			width: 100%;
		}

		.img-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, #f4f4f42c, #f4f4f4bc);
		}
	}

	.header-info {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		left: 10%;

		p {
			width: 50%;
		}

		a {
			width: fit-content;
		}
	}

	.title {
		white-space: pre-wrap;
	}
}
