.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* padding: 4rem 0; */

	.img-container {
		position: relative;
		width: 100%;
		height: 80dvh;

		@media screen and (max-width: 1600px) {
			height: auto;
		}

		img {
			position: relative;
			width: 100%;
		}

		.img-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, #f4f4f42c, #f4f4f4bc);
		}
	}

	.header-info {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
		max-width: 1260px;
		padding: 0 3rem;
		left: 50%;
		transform: translateX(-50%);

		p {
			width: 50%;
		}

		a {
			width: fit-content;
		}

		@media screen and (max-width: 1260px) {
			width: 90%;

			p {
				width: 70%;
			}
		}
	}

	.title {
		white-space: pre-wrap;
	}

	.subtitle {
		white-space: pre-wrap;
	}

	.subtitle-line {
		overflow: hidden;
		display: block;
	}
}
