.grid {
	display: grid;
	grid-template-columns: repeat(4, 297px);
	gap: 1rem;
	width: fit-content;
	margin: 0 auto;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 1260px) {
		grid-template-columns: repeat(2, 297px);
	}

	@media screen and (max-width: 640px) {
		grid-template-columns: 1fr;
	}

	.card {
		position: relative;
		width: 297px;
		height: 421px;
		background-color: var(--white-bg-color);
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		@media screen and (max-width: 768px) {
			/* height: 250px; */
			width: 90%;
			margin: 0 auto;
		}

		img {
			position: relative;
			width: 110%;
			height: 100%;
			object-fit: cover;
		}

		.img-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, #00000000, #000000);
		}

		.card-info {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 16px;
		}
	}
}
