.secondaryCTA {
	margin-left: 2rem;
	font-size: 16px;
	font-weight: 400;
	padding: 1rem 2rem;
	border: 1px solid var(--primary-color);
	border-radius: 50em;
	transition: 0.3s ease;

	&:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		transition: 0.3s ease;
	}

	&::before {
		display: none;
	}
}
