.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	justify-items: center;
	max-width: 1200px;
	margin: 5rem auto 0 auto;

	@media screen and (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 640px) {
		grid-template-columns: 1fr;
	}

	.card {
		background: var(--secondary-color);
		border-radius: var(--border-radius-big);
		padding: 5rem 16px 2rem 16px;
		color: var(--primary-color);
		text-align: center;
		display: grid;
		gap: 10px;
		width: 100%;
		max-width: 297px;

		@media screen and (max-width: 1200px) {
			max-width: none;
		}

		img {
			width: 40px;
			height: 40px;
			margin: 0 auto 4px;
			display: block;
		}

		h4 {
			margin: 0;
		}

		p {
			font-size: 14px;
			line-height: 24px;
			color: var(--white-color);
		}
	}
}
