.footer-container {
	background: var(--secondary-color);
	color: var(--white-color);
	/* color: var(--primary-color); */

	.footer {
		max-width: 1260px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 3rem;
		margin: 2rem auto;
		padding: 4rem 3rem;
		font-size: 1rem;

		a {
			transition: 0.3s ease;
		}

		@media screen and (max-width: 1024px) {
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			gap: 2rem;
			padding: 4rem 1rem;

			p {
				width: 50%;
			}
		}

		h4 {
			font-size: 1.2rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		.footer-info {
			width: 100%;

			img {
				width: 100px;
				margin-bottom: 1rem;
			}

			p {
				width: 70%;
				font-size: 1rem;
				color: var(--white-color);
			}

			@media screen and (max-width: 768px) {
				p {
					margin: 0;
					width: 100%;
				}
			}
		}

		.contact-info {
			div a {
				display: flex;
				align-items: center;
				margin-top: 0.5rem;
				transition: transform 0.3s ease;
			}
			img {
				width: 18px;
				margin-right: 1rem;
				filter: brightness(0) invert(1);
			}
		}

		.quick-links {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.social-media {
			div {
				display: flex;
				img {
					margin-right: 0.5rem;
				}
			}
		}
	}

	.footer-bottom {
		max-width: 1260px;
		display: flex;
		justify-content: space-between;
		gap: 3rem;
		margin: 0 auto;
		padding: 2rem 3rem;
		border-top: 1px solid rgba(255, 255, 255, 0.2);

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 1rem;
			padding: 2rem 1rem;
		}
	}
}
