.footer-container {
	background: var(--secondary-color);
	color: var(--white-black);

	p {
		color: var(--white-color);
	}

	svg {
		/* filter: brightness(0) invert(1); */
	}

	.footer {
		max-width: 1260px;
		display: flex;
		justify-content: space-around;
		gap: 3rem;
		margin: 2rem auto;
		padding-top: 4rem;
		font-size: 1rem;

		div {
			/* flex: 1; */
		}

		h4 {
			font-size: 1.2rem;
			font-weight: 500;
			margin-bottom: 1rem;
			color: var(--primary-color);
		}

		.footer-info {
			width: 25%;

			p {
				font-size: 1rem;
				color: var(--black-color);
			}
		}

		.quick-links {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.social-media {
			div {
				display: flex;
				/* flex-direction: column; */
				/* align-items: center; */
				img {
					/* width: 24px; */
					margin-right: 0.5rem;
					filter: brightness(1) invert(1);
				}
			}
		}
	}

	.footer-bottom {
		max-width: 1260px;
		display: flex;
		justify-content: space-between;
		gap: 3rem;
		margin: 0 auto;

		padding: 2rem 0;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
}
