button {
	background: var(--secondary-color);
	color: var(--primary-color);
	border-radius: var(--border-radius);
	border-radius: 50rem;
	border: 0;
	padding: 16px 3rem;
	width: fit-content;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	width: fit-content;
	cursor: pointer;

	&[data-dark-bg="true"] {
		background: var(--secondary-color);
		color: var(--primary-color);
	}
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.animatedButton {
	position: relative;
	overflow: hidden;
	isolation: isolate;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	transform-origin: left;
	transform: scaleX(0);
	z-index: -1;
}

.text {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.hiddenText {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	pointer-events: none;
	z-index: 1;
	width: 100%;
	text-align: center;
}

button[data-no-background="true"] {
	pointer-events: none;
	cursor: default;
}

button[data-no-background="true"]:hover {
	background: inherit;
	color: inherit;
	transform: none;
}
