.animatedButton {
	background: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 50rem;
	margin-top: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	text-transform: uppercase;
	overflow: hidden;

	&[data-dark-bg="true"] {
		background: var(--primary-color);
		color: var(--secondary-color);
	}

	&:focus,
	&:focus-visible {
		outline: 4px solid var(--secondary-color);
	}

	.hiddenText {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		pointer-events: none;
		z-index: 1;
		width: 100%;
		text-align: center;
	}
}
