.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	max-width: var(--desktop-breakpoint);
	margin: 0 auto;
	padding: 1rem 0;

	.links {
		a {
			margin-right: 1.5rem;
		}

		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
